<% if user.errors.any? %>
  <div class="alert alert-warning">
    <h3><%= user.errors.count %>error!</h3>
    <ul>
      <% user.errors.full_messages.each do |message| %>
       <ul>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>