<h2>User info</h2>
<div class="profile-container">
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <table class="table">
      <tbody><tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
     </tbody>
   </table>


  <% if user.id == current_user.id %>
  <div class="row">
      <%= link_to "Edit", edit_user_path(user), class: "btn btn-default btn-lg btn-block btn-base-1 mt-20 glyphicon glyphicon-wrench "%>

  </div>
  <% end %>

</div>