<div class="col-xs-8">
<h1>User info</h1>



<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>show</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
        <td><%=user.username %></td>
        <td><%= link_to "Show", user_path(user.id), class: "pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>